﻿@model BadgerCloudService.Models.Attendee

@{
    ViewBag.Title = "Attendee";
}

<h2>Details</h2>

<div>
    <h4>Attendee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadgeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distributor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distributor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        @foreach (BadgerCloudService.Models.StoredQuestion question in ViewBag.Questions)
        {
            <dt>
                @Html.DisplayNameFor(modelItem => question.Question)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => question.Question)
            </dd>

            foreach (BadgerCloudService.Models.Answer answer in Model.QuestionList.Where(q => q.Question_Id == question.Id))
            {
                <dt>
                    @Html.DisplayNameFor(modelItem => answer.AttendeeAnswer)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => answer.AttendeeAnswer)
                </dd>
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
