﻿@Scripts.Render("~/Scripts/JS/AttendeeIndex.js")
@{
    ViewBag.Title = "Attendees";
}

<h2>Attendees</h2>
<div class="col-md-offset-8">
    <input id="SearchData" class="data" type="text" />
    <button class="btn-sm btn-success" onclick="searchByName()">Search By Name</button>
</div>
@Html.Partial("Templates/Attendees/AttendeesTable")
