﻿<div id="DateFilter" class="col-md-10 filter">
    <label class="col-md-3">Filter By Date:</label>
    <input class="data" type="date" name="ScanDate" />
    <button class="btn-sm btn-danger" onclick="removeFilter('DateFilter');">Remove</button>
    <hr />
</div>