﻿<div id="DistributorFilter" class="col-md-10 filter">
    <div>
        <label class="col-md-3">Filter By Distributor:</label>
        <select class="data dropdown" id="Distributors" onchange="addBranchFilter($('#Distributors option:selected').val())">
            @foreach (SelectListItem item in ViewBag.Distributors)
            {
                <option value='@item.Value'>@item.Text</option>
            }
        </select>
        <button class="btn-sm btn-danger" onclick="removeFilter('DistributorFilter');">Remove</button>
    </div>
    <div id="BranchFilter">

    </div>
    <hr />
</div>