﻿<div id="BranchFilter" class="subfilter">
    <label class="col-md-3">Filter By Branch:</label>
    <select class="data dropdown" id="Branches">
        @foreach (SelectListItem item in ViewBag.Branches)
        {
            <option value='@item.Value'>@item.Text</option>
        }
    </select>
</div>