﻿<div id="EventFilter" class="col-md-10 filter">
    <label class="col-md-3">Filter By Event:</label>
    <select class="data dropdown" id="Events">
        @foreach (SelectListItem item in ViewBag.Events)
        {
            <option value='@item.Value'>@item.Text</option>
        }
    </select>
    <button class="btn-sm btn-danger" onclick="removeFilter('EventFilter');">Remove</button>
    <hr />
</div>