﻿<div id="MachineFilter" class="col-md-10 filter">
    <label class="col-md-3">Filter By Machine:</label>
    <select class="data dropdown" id="Machines">
        @foreach (SelectListItem item in ViewBag.Machines)
        {
            <option value='@item.Value'>@item.Text</option>
        }
    </select>
    <button class="btn-sm btn-danger" onclick="removeFilter('MachineFilter');">Remove</button>
    <hr />
</div>