﻿<div id="NameFilter" class="col-md-10 filter">
    <label class="col-md-3">Filter By Name:</label>
    <input class="data" type="text" />
    <button class="btn-sm btn-danger" onclick="removeFilter('NameFilter');">Remove</button>
    <hr />
</div>