﻿@{
    ViewBag.Title = "Index";
}

<h2>Distributor List</h2>
<h4>The distributor list provided by marketing should contain the list of available distributors</h4>

@using (Html.BeginForm("Index", "DistributorList", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label class="col-md-2" for="file">Upload File:</label>
    <input class="col-md-3" type="file" name="file" id="file" accept=".xls" />
    <input class="btn btn-success btn-sm" type="submit" value="Upload File" />
    @ViewBag.Message
}