﻿@model BadgerCloudService.Models.Scan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Scan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeOfScan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeOfScan)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attendee.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attendee.FirstName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attendee.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attendee.LastName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attendee.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attendee.Company)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attendee.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attendee.Title)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Machine.ModelNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Machine.ModelNumber)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attendee.Distributor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attendee.Distributor)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
