﻿@model BadgerCloudService.Models.Scan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Scan</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.TimeOfScan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="control-label col-md-2">
                @Html.DisplayFor(model => model.TimeOfScan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Attendee.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="control-label col-md-2">
                @Html.DisplayFor(model => model.Attendee.FirstName)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Notes
            </label>
            <div class="control-label col-md-2">
                <input class="input-lg" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
