﻿@Scripts.Render("~/Scripts/JS/Filters.js")
<div>

    <h3>Filters</h3>
    <div class="col-md-10 form-group">
        <label class="col-md-2">Add Filter:</label>
        <select id="filterDropdown">
            <option value="default">Select a Filter</option>
            <option value="DateFilter">Date</option>
            <option value="DistributorFilter">Distributors</option>
            <option value="MachineFilter">Machines</option>
            <option value="NameFilter">Name</option>
            <option value="EventFilter">Event</option>
        </select>
        <button class="btn-group-sm btn-primary" onclick="addFilter($('#filterDropdown option:selected').val())">Add</button>
        <button class="btn-group-sm btn-success" onclick="FilterLeadList();">Filter</button>
        <button class="btn-group-sm btn-info" onclick="ExportListToExcel();">Export</button>
    </div>

    <form id="Filters" class="form-group"></form>

    @Html.Partial("Templates/Leads/LeadsList")
</div>