﻿@model IEnumerable<BadgerCloudService.Objects.Lead>
<div id="LeadsList">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Machine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distributor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistributorBranch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VisitCount)
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink((item.FirstName + " " + item.LastName), "Details", "Attendees", new { id = item.Id }, new { })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Machine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distributor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DistributorBranch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitCount)
                </td>
            </tr>
        }
    </table>
</div>
