﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div style="background-color : blue; color : white" class="col-lg-6">
        @{Html.RenderAction("LeadsTodayCount");}
    </div>

    <div style="background-color : red; color : white" class="col-lg-6">
        @{Html.RenderAction("LeadsTotalCount");}
    </div>
</div>
<div class="row">
    <div style="background-color : red; color : white" class="col-lg-6">
        @{Html.RenderAction("PopularMachinesToday");}
    </div>
    <div style="background-color : blue; color : white" class="col-lg-6">
        @{Html.RenderAction("PopularMachineTotal");}
    </div>
</div>