﻿@model IEnumerable<BadgerCloudService.Objects.PopularMachine>

<h2>
    @ViewBag.Header
</h2>

<table class="table">
    <tr>
        <th>
            <h2>
                @Html.DisplayNameFor(model => model.Machine)
            </h2>
        </th>
        <th>
            <h2>
                @Html.DisplayNameFor(model => model.Count)
            </h2>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h2>
                    @Html.DisplayFor(modelItem => item.Machine.Alias)
                </h2>
            </td>
            <td>
                <h2>
                    @Html.DisplayFor(modelItem => item.Count)
                </h2>
            </td>
        </tr>
    }
</table>
