﻿@model IEnumerable<BadgerCloudService.Models.Scan>
<div id="ScanList">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Machine.ModelNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attendee.Distributor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOfScan)
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink((item.Attendee.FirstName + " " + item.Attendee.LastName), "Details", "Attendees", new { id = item.Attendee.Id }, new { })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Machine.ModelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attendee.Distributor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfScan)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
